.hover{
    animation: hoverAnimation 2s infinite;

}
.delay-1{
    animation-delay: .5s;
}
.delay-2{
    animation-delay: 1s;
}
.delay-3{
    animation-delay: 1.5s;
}
@keyframes hoverAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-in {
    animation: fadeIn 2s ease-in-out;
}