body{
    /* genariert mit https://cssgradient.io/ */
  
    background: #c9973a;
    background: linear-gradient(45deg, rgba(201, 151, 58, 1) 11%, rgba(8, 180, 114, 1) 49%, rgba(0, 85, 102, 1) 88%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}
p{
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}
h1{
    font-family: 'Chewy', cursive;

}

.footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(17, 17, 17);
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    filter: invert(1);
    position: fixed;
}
.title {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Titel Farbe Wasser Seite  hier soll nochg der Text einen Fabverlauf bekommen */
.title-blue {
    color: rgb(53, 101, 184);
    text-shadow: 2px 2px 4px #1d3aaf;
}

.titleThemenAuswahl{
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
}

/* Themen Auswahl Seite */

.info-card{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    top:10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    transition: .5s;
    overflow-y: auto;
    
}
.abs{
    right: 10px;
    height: 50vh;
    display: none;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
.abs p{
    color: black;
  }

.themen-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 0 auto;
    min-height: 100vh;
    height: 400vh;
    width: 100% ;
    padding-bottom: 50px;
    background-image: url(../assets/img/underwater3.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    
  }


  .body-wasser{
    background: #0896B4;
    background: linear-gradient(180deg, rgba(8, 150, 180, 1) 0%, rgba(0, 43, 52, 1) 99%);
  }
  


.img-fluid{
    cursor: pointer;
}
.img-fluid:hover{
    animation: none;
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Google Fonts CSS für Chewy und Delius Unicase */
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.delius-unicase-regular {
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.delius-unicase-bold {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
}

.transparent {
  background-color: transparent !important;
}

@media screen and (max-width: 1500px) {
.themen-content-container{
    background-size: cover;
  }
}


@media screen and (max-width: 1200px) {
  .info-card{
    width: 80%;
  }
  
}

@media screen and (max-width: 800px) {
  .info-card{
    width:100%;
  }
  .abs{
    margin-top: 30px;
    height: 50vh;
  }
  
}
@media screen and (max-height: 800px) {
  
  
}